<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>

<body>

	<div class="container my-2">
		<h1>Student Information</h1>

		<a th:href="@{/showNewStudentForm}"
			class="btn btn-primary btn-sm mb-3"> Add Student </a>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Student Name</th>
					<th>Nationality</th>
					<th>Gender</th>
					<th>Date of Birth</th>
					<th>Image</th>
					<th>Action</th>


				</tr>
			</thead>
			<tbody>
				<tr th:each="stud_details : ${listStudents}">
					<td th:text="${stud_details.name}"></td>
					<td th:text="${stud_details.nationality}"></td>
					<td th:text="${stud_details.gender}"></td>
					<td th:text="${stud_details.dob}"></td>
					<td th:text="${stud_details.image}"></td>
					<td><a
						th:href="@{/showFormForUpdate/{id}(id=${stud_details.id})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/{id}(id=${stud_details.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</body>


</html>